<app-navbar
  [navLight]="false"
  [navClass]="'justify-end'"
  [bgLight]="false"
  [navFull]="false"
/>

<section class="relative lg:mt-24 mt-[74px]">
  <div class="lg:container container-fluid">
    <div class="md:flex mx-4 mt-12">
      <div class="md:w-full">
        <div class="relative flex items-end justify-between"></div>
      </div>
    </div>
  </div>
  <!--end -->
</section>

<section class="relative mt-12 md:pb-24 pb-16">
  <div class="container">
    <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
      <div class="lg:col-span-8 md:col-span-7">
        <h5 class="text-xl font-semibold">
          {{ data?.name ? data?.name : "Calvin Carlo" }}
        </h5>
        <p class="text-slate-400 mt-4">
          Obviously I'M Web Developer. Web Developer with over 3 years of
          experience. Experienced with all stages of the development cycle for
          dynamic web projects. The as opposed to using 'Content here, content
          here', making it look like readable English.
        </p>
        <p class="text-slate-400 mt-4">
          Data Structures and Algorithms are the heart of programming. Initially
          most of the developers do not realize its importance but when you will
          start your career in software development, you will find your code is
          either taking too much time or taking too much space.
        </p>
        <h4 class="mt-6 text-xl font-semibold">Skills :</h4>
        <div class="grid lg:grid-cols-2 grid-cols-1 mt-6 gap-6">
          <div *ngFor="let item of skillData">
            <div class="flex justify-between mb-2">
              <span class="text-slate-400">{{ item.title }}</span>
              <span class="text-slate-400">{{ item.percentage }}</span>
            </div>
            <div
              class="w-full bg-gray-100 dark:bg-gray-800 rounded-full h-[6px]"
            >
              <div
                class="bg-emerald-600 h-[6px] rounded-full"
                [ngStyle]="{ width: item.percentage }"
              ></div>
            </div>
          </div>
        </div>

        <h4 class="mt-6 text-xl font-semibold">Experience :</h4>

        <div class="flex mt-6">
          <div class="text-slate-400 font-semibold min-w-[80px] text-center">
            <img
              src="assets/images/company/shree-logo.png"
              class="size-16 mx-auto mb-2 block"
              alt=""
            />
            2019-22
          </div>

          <div class="ms-4">
            <h5 class="text-lg font-medium mb-0">Full Stack Developer</h5>
            <span class="text-slate-400 company-university"
              >Shreethemes - India</span
            >
            <p class="text-slate-400 mt-2 mb-0">
              It seems that only fragments of the original text remain in the
              Lorem Ipsum texts used today. One may speculate that over the
              course of time certain letters were added or deleted at various
              positions within the text.
            </p>
          </div>
        </div>

        <div class="flex mt-6">
          <div class="text-slate-400 font-semibold min-w-[80px] text-center">
            <img
              src="assets/images/company/circle-logo.png"
              class="size-16 mx-auto mb-2 block"
              alt=""
            />
            2017-19
          </div>

          <div class="ms-4">
            <h5 class="text-lg font-medium mb-0">Back-end Developer</h5>
            <span class="text-slate-400 company-university"
              >CircleCI - U.S.A.</span
            >
            <p class="text-slate-400 mt-2 mb-0">
              It seems that only fragments of the original text remain in the
              Lorem Ipsum texts used today. One may speculate that over the
              course of time certain letters were added or deleted at various
              positions within the text.
            </p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="lg:col-span-4 md:col-span-5">
        <div
          class="bg-slate-50 dark:bg-slate-800 rounded-md shadow dark:shadow-gray-700 p-6 sticky top-20"
        >
          <div class="relative flex items-end sanu mb-8">
            <div class="">
              <h5 class="text-2xl font-semibold">
                {{ data?.name ? data?.name : "Mr. Calvin carlo" }}
              </h5>
              <p class="text-slate-400">
                {{ data?.position ? data?.position : "Web Designer" }}
              </p>
            </div>
          </div>

          <ul class="list-none mt-4">
            <li class="flex justify-between mt-3 items-center font-medium">
              <span
                ><i
                  data-feather="mail"
                  class="size-4 text-slate-400 me-3 inline"
                ></i
                ><span class="text-slate-400 me-3">Email :</span></span
              >

              <span>thomas&#64;mail.com</span>
            </li>
            <li class="flex justify-between mt-3 items-center font-medium">
              <span
                ><i
                  data-feather="gift"
                  class="size-4 text-slate-400 me-3 inline"
                ></i
                ><span class="text-slate-400 me-3">D.O.B. :</span></span
              >

              <span>31st Dec, 1996</span>
            </li>
            <li class="flex justify-between mt-3 items-center font-medium">
              <span
                ><i
                  data-feather="home"
                  class="size-4 text-slate-400 me-3 inline"
                ></i
                ><span class="text-slate-400 me-3">Address :</span></span
              >

              <span>15 Razy street</span>
            </li>
            <li class="flex justify-between mt-3 items-center font-medium">
              <span
                ><i
                  data-feather="map-pin"
                  class="size-4 text-slate-400 me-3 inline"
                ></i
                ><span class="text-slate-400 me-3">City :</span></span
              >

              <span>London</span>
            </li>
            <li class="flex justify-between mt-3 items-center font-medium">
              <span
                ><i
                  data-feather="globe"
                  class="size-4 text-slate-400 me-3 inline"
                ></i
                ><span class="text-slate-400 me-3">Country :</span></span
              >

              <span>UK</span>
            </li>
            <li class="flex justify-between mt-3 items-center font-medium">
              <span
                ><i
                  data-feather="server"
                  class="size-4 text-slate-400 me-3 inline"
                ></i
                ><span class="text-slate-400 me-3">Postal Code :</span></span
              >

              <span>521452</span>
            </li>
            <li class="flex justify-between mt-3 items-center font-medium">
              <span
                ><i
                  data-feather="phone"
                  class="size-4 text-slate-400 me-3 inline"
                ></i
                ><span class="text-slate-400 me-3">Mobile :</span></span
              >

              <span>(+125) 1542-8452</span>
            </li>
          </ul>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end grid-->
  </div>
  <!--end container-->
</section>
