<app-navbar
  [navLight]="false"
  [navClass]="'justify-end'"
  [bgLight]="false"
  [navFull]="false"
/>

<section class="relative lg:mt-24 mt-[74px]">
  <div class="lg:container container-fluid">
    <div class="md:flex mx-4 mt-12">
      <div class="md:w-full">
        <div class="relative flex items-end justify-between"></div>
      </div>
    </div>
  </div>
  <!--end -->
</section>

<section class="relative mt-12 md:pb-24 pb-16">
  <div class="container">
    <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
      <div class="lg:col-span-7 md:col-span-7">
        <h5 class="text-xl font-semibold">
          {{ userData.name }}
        </h5>
        <p class="text-slate-400 mt-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
          temporibus molestias in ipsum tempora voluptatum iusto perferendis
          unde soluta expedita, distinctio cupiditate provident quae fuga
          numquam debitis sunt, nobis laborum.
        </p>

        <h4 class="mt-6 text-xl font-semibold">Destrezas:</h4>
        <div class="grid lg:grid-cols-2 grid-cols-1 mt-6 gap-6">
          <div *ngFor="let item of application?.competences">
            <div class="flex justify-between mb-2">
              <span class="text-slate-400">{{ item.name }}</span>
              <span class="text-slate-400">{{ item.score }}</span>
            </div>
            <div
              class="w-full bg-gray-100 dark:bg-gray-800 rounded-full h-[6px]"
            >
              <div
                class="bg-red-500 h-[6px] rounded-full"
                [ngStyle]="{ width: item.performance + '%' }"
              ></div>
            </div>
          </div>
        </div>

        <h4 class="mt-10 text-xl font-semibold">Áreas de Mejora :</h4>

        <div
          class="flex mt-6"
          *ngFor="let item of application?.recommendations"
        >
          <div class="">
            <h5 class="text-lg font-bold mb-4">{{ item.name }}</h5>
            <h6 class="text-md font-thin mb-0">20% - Aprendizaje Formal</h6>
            <p class="text-slate-400 mt-2 mb-0">
              <span class="text-slate-900"
                >Toma de Decisiones en Entornos Complejos:</span
              >
              Busca cursos que te enseñan cómo tomar decisiones efectivas, usar
              técnicas analíticas y desarrollar estrategias para manejar la
              incertidumbre. Estos cursos te brindarán las herramientas
              necesarias para enfrentar desafíos con confianza y tomar
              decisiones más acertadas en tu entorno laboral.
            </p>
            <p class="text-slate-400 mt-2 mb-0">
              <span class="text-slate-900"
                >Liderazgo y Toma de Decisiones:</span
              >
              Explora programas que combinan la toma de decisiones con el
              liderazgo y muestran cómo estas decisiones impactan la dirección
              estratégica. Estos cursos te ayudarán a entender cómo tus
              decisiones pueden guiar el rumbo de tu equipo o empresa, y a
              mejorar tu capacidad para liderar con eficacia en un entorno
              dinámico.
            </p>
            <h6 class="text-md font-thin mb-0 mt-5">
              70% - Aprendizaje Experiencial
            </h6>
            <p class="text-slate-400 mt-2 mb-0">
              <span class="text-slate-900"
                >Toma de Decisiones en Proyectos:
              </span>
              Participa en proyectos que requieran decisiones críticas. Analiza
              el impacto de cada decisión y ajusta estrategias basadas en
              resultados.
            </p>
            <p class="text-slate-400 mt-2 mb-0">
              <span class="text-slate-900">Simulaciones de Negocios: </span>
              Involúcrate en proyectos donde se requiera tomar decisiones clave.
              Evalúa el impacto de cada decisión y ajusta las estrategias según
              los resultados que obtengas. Aprender de cada experiencia te
              ayudará a afinar tus habilidades y a mejorar los resultados de
              futuros proyectos.
            </p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="lg:col-span-5 md:col-span-5">
        <div
          class="bg-slate-50 dark:bg-slate-800 rounded-md shadow dark:shadow-gray-700 p-6 sticky top-20"
        >
          <div class="relative flex items-end sanu mb-8">
            <div class="">
              <h5 class="text-2xl font-semibold">
                {{ userData.name.split(" ")[0] }}
                {{ userData.name.split(" ")[2] }}
              </h5>
              <p class="text-slate-400">
                {{ userData.position }}
              </p>
            </div>
          </div>

          <ul class="list-none mt-4">
            <li class="flex justify-start mt-3 items-center font-medium">
              <span
                ><i
                  data-feather="mail"
                  class="size-4 text-slate-400 me-3 inline"
                ></i
                ><span class="text-slate-400 me-3">Email :</span></span
              >

              <span>{{ userData.email }}</span>
            </li>
          </ul>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end grid-->
  </div>
  <!--end container-->
</section>
