<app-navbar [navLight] = 'false' [navClass] = "'justify-center'" [bgLight] = 'false' [navFull] = 'false' />

<section class="relative table w-full py-36 pb-0 lg:py-44 lg:pb-0 bg-orange-600/5 dark:bg-orange-600/10">
    <div class="container relative">
        <div class="grid lg:grid-cols-12 md:grid-cols-2 grid-cols-1 items-center gap-[30px]">
            <div class="lg:col-span-7">
                <div class="md:me-6 md:mb-20">
                    <h4 class="lg:leading-normal leading-normal text-4xl lg:text-5xl mb-5 font-bold">Start Building <br> Your <span class="text-emerald-600">Dream Career</span><br> with Jobstack</h4>
                    <p class="text-lg max-w-xl">Find Jobs, Employment & Career Opportunities. Some of the companies we've helped recruit excellent applicants over the years.</p>
                
                    <div class="grid lg:grid-cols-12 grid-cols-1" id="reserve-form">
                        <div class="lg:col-span-10 mt-8">
                            <div class="bg-white dark:bg-slate-900 border-0 shadow rounded p-3">
                                <form action="#">
                                    <div class="registration-form text-dark text-start">
                                        <div class="grid md:grid-cols-12 grid-cols-1 md:gap-0 gap-6">
                                            <div class="lg:col-span-8 md:col-span-7">
                                                <div class="filter-search-form relative filter-border">
                                                    <i class="uil uil-briefcase-alt icons"></i>
                                                    <input name="name" type="text" id="job-keyword" class="form-input filter-input-box bg-gray-50 dark:bg-slate-800 border-0" placeholder="Search your Keywords">
                                                </div>
                                            </div>

                                            <div class="lg:col-span-4 md:col-span-5">
                                                <input type="submit" id="search" name="search" style="height: 60px;" class="btn bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white searchbtn submit-btn w-full" value="Search">
                                            </div>
                                        </div><!--end grid-->
                                    </div><!--end container-->
                                </form>
                            </div>
                        </div><!--ed col-->
                    </div><!--end grid-->

                    <div class="mt-4">
                        <span class="text-slate-400"><span class="text-dark">Popular Searches :</span> Designer, Developer, Web, IOS, PHP Senior Engineer</span>
                    </div>
                </div>
            </div><!--end col-->

            <div class="lg:col-span-5">
                <div class="relative">
                    <img src="assets/images/hero.png" alt="">

                    <div class="absolute lg:top-48 top-56 xl:-start-20 lg:-start-10 md:-start-4 start-2 p-4 rounded-lg shadow-md dark:shadow-gray-800 bg-white dark:bg-slate-900 w-60 z-2">
                        <h5 class="text-lg font-semibold mb-3">5k+ candidates get job</h5>
                        
                        <ul class="list-none relative">
                            <li class="inline-block relative"><a href="#" (click)="$event.preventDefault()"><img src="assets/images/team/01.jpg" class="size-10 rounded-full shadow-md dark:shadow-gray-700 border-4 border-white dark:border-slate-900 relative hover:z-1 hover:scale-105 transition-all duration-500" alt=""></a></li>
                            <li class="inline-block relative -ms-3"><a href="#" (click)="$event.preventDefault()"><img src="assets/images/team/02.jpg" class="size-10 rounded-full shadow-md dark:shadow-gray-700 border-4 border-white dark:border-slate-900 relative hover:z-1 hover:scale-105 transition-all duration-500" alt=""></a></li>
                            <li class="inline-block relative -ms-3"><a href="#" (click)="$event.preventDefault()"><img src="assets/images/team/03.jpg" class="size-10 rounded-full shadow-md dark:shadow-gray-700 border-4 border-white dark:border-slate-900 relative hover:z-1 hover:scale-105 transition-all duration-500" alt=""></a></li>
                            <li class="inline-block relative -ms-3"><a href="#" (click)="$event.preventDefault()"><img src="assets/images/team/04.jpg" class="size-10 rounded-full shadow-md dark:shadow-gray-700 border-4 border-white dark:border-slate-900 relative hover:z-1 hover:scale-105 transition-all duration-500" alt=""></a></li>
                            <li class="inline-block relative -ms-3"><a href="#" (click)="$event.preventDefault()"><img src="assets/images/team/05.jpg" class="size-10 rounded-full shadow-md dark:shadow-gray-700 border-4 border-white dark:border-slate-900 relative hover:z-1 hover:scale-105 transition-all duration-500" alt=""></a></li>
                            <li class="inline-block relative -ms-3"><a href="#" (click)="$event.preventDefault()" class="btn btn-icon table-cell rounded-full bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white hover:z-1 hover:scale-105"><i class="uil uil-plus"></i></a></li>
                        </ul>
                    </div>

                    <div class="absolute flex justify-between items-center bottom-6 lg:-end-10 end-2 p-4 rounded-lg shadow-md dark:shadow-gray-800 bg-white dark:bg-slate-900 w-max">
                        <i class="uil uil-bell text-[24px] text-amber-500"></i>
                        <p class="text-lg font-semibold mb-0 ms-2">Job Alert Subscribe</p>
                    </div>

                    <div class="overflow-hidden after:content-[''] after:absolute after:size-16 after:bg-emerald-600/30 after:top-20 after:start-20 after:-z-1 after:rounded-lg after:animate-[spin_10s_linear_infinite]"></div>
                </div>
            </div><!--end col-->
        </div><!--end grid-->
    </div><!--end container-->
</section>

<section class="relative md:py-24 py-16">
    <div class="container md:pb-16">
        <app-millions-of-job/>
    </div><!--end container-->

    <div class="container md:mt-24 mt-16">
        <div class="grid grid-cols-1 pb-8 text-center">
            <h3 class="mb-4 md:text-[26px] md:leading-normal text-2xl leading-normal font-semibold">Popular Jobs</h3>

            <p class="text-slate-400 max-w-xl mx-auto">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
        </div><!--end grid-->

        <app-popular-job-five/>

        <div class="grid md:grid-cols-12 grid-cols-1 mt-8">
            <div class="md:col-span-12 text-center">
                <a routerLink="/job-list-five" class="btn btn-link text-slate-400 hover:text-emerald-600 after:bg-emerald-600 duration-500 ease-in-out">See More Jobs <i class="uil uil-arrow-right align-middle"></i></a>
            </div>
        </div><!--end grid-->
    </div><!--end container-->
    
    <div class="container md:mt-24 mt-16">
        <app-counter/>
    </div><!--end container-->
</section>
<app-cta/>

<section class="relative md:py-24 py-16">
    <app-best-companies-two/>

    <div class="container md:mt-24 mt-16">
        <div class="grid grid-cols-1 pb-8 text-center">
            <h3 class="mb-4 md:text-[26px] md:leading-normal text-2xl leading-normal font-semibold">Latest Blog or News</h3>

            <p class="text-slate-400 max-w-xl mx-auto">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
        </div><!--end grid-->

        <app-blog/>
    </div><!--end container-->
</section>
<app-footer/>