<nav
  id="topnav"
  class="defaultscroll is-sticky"
  [ngClass]="
    scrolled ? 'nav-sticky' : '' || bgLight ? 'bg-white dark:bg-slate-900' : ''
  "
>
  <div
    [ngClass]="
      navFull ? 'container-fluid container-fluid md:px-8 px-3' : 'container'
    "
  >
    <!-- Logo container-->
    <ng-container *ngIf="navLight; else elseTemplate">
      <a class="logo" routerLink="/">
        <div class="block sm:hidden">
          <img
            src="assets/images/logo-icon-40.png"
            class="h-10 inline-block dark:hidden"
            alt=""
          />
          <img
            src="assets/images/logo-icon-40-white.png"
            class="h-10 hidden dark:inline-block"
            alt=""
          />
        </div>
        <div class="sm:block hidden">
          <span class="inline-block dark:hidden">
            <img
              src="assets/images/logo-dark.png"
              class="h-[24px] l-dark"
              alt=""
            />
            <img
              src="assets/images/logo-light.png"
              class="h-[24px] l-light"
              alt=""
            />
          </span>
          <img
            src="assets/images/logo-white.png"
            class="h-[24px] hidden dark:inline-block"
            alt=""
          />
        </div>
      </a>
    </ng-container>
    <ng-template #elseTemplate>
      <a class="logo" routerLink="/">
        <div class="block sm:hidden">
          <img
            src="assets/images/logo-icon-40.png"
            class="h-10 inline-block dark:hidden"
            alt=""
          />
          <img
            src="assets/images/logo-icon-40-white.png"
            class="h-10 hidden dark:inline-block"
            alt=""
          />
        </div>
        <div class="sm:block hidden">
          <img
            src="assets/images/logo-dark.png"
            class="h-[24px] inline-block dark:hidden"
            alt=""
          />
          <img
            src="assets/images/logo-white.png"
            class="h-[24px] hidden dark:inline-block"
            alt=""
          />
        </div>
      </a>
    </ng-template>

    <!-- End Logo container-->

    <!-- Start Mobile Toggle -->
    <div class="menu-extras">
      <div class="menu-item">
        <a
          href="#"
          class="navbar-toggle"
          [ngClass]="showToggleMenu ? 'open' : ''"
          id="isToggle"
          (click)="toggleMenu()"
        >
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
      </div>
    </div>
    <!-- End Mobile Toggle -->

    <!--Login button Start-->
    <ul class="buy-button list-none mb-0">
      <li class="inline-block mb-0">
        <div class="relative top-[3px]">
          <input
            type="text"
            class="mr-6 form-input h-9 pe-10 rounded-3xl sm:w-44 w-36 border-gray-100 dark:border-slate-800 bg-white dark:bg-slate-900"
            name="s"
            id="searchItem"
            placeholder="Search..."
          />
        </div>
      </li>

      <li
        class="dropdown inline-block relative ps-1"
        (clickOutside)="closeOutSideClick($event)"
      >
        <button
          class="dropdown-toggle items-center"
          type="button"
          (click)="userDropdow($event)"
        >
          <span
            class="btn btn-icon rounded-full bg-red-600 hover:bg-red-700 border-red-600 hover:border-red-700 text-white"
            >VR</span
          >
        </button>
        <!-- Dropdown menu -->
      </li>
      <!--end dropdown-->
    </ul>
    <!--Login button End-->
  </div>
  <!--end container-->
</nav>
