<nav
  id="topnav"
  class="defaultscroll is-sticky"
  [ngClass]="
    scrolled ? 'nav-sticky' : '' || bgLight ? 'bg-white dark:bg-slate-900' : ''
  "
>
  <div
    [ngClass]="
      navFull ? 'container-fluid container-fluid md:px-8 px-3' : 'container'
    "
  >
    <ng-container *ngIf="navLight; else elseTemplate">
      <a class="logo" routerLink="/">
        <div class="block sm:hidden">
          <img
            src="assets/images/logo-icon-40.png"
            class="h-10 inline-block dark:hidden"
            alt=""
          />
          <img
            src="assets/images/logo-icon-40-white.png"
            class="h-10 hidden dark:inline-block"
            alt=""
          />
        </div>
        <div class="sm:block hidden">
          <span class="inline-block dark:hidden">
            <img
              src="assets/images/logo-dark.png"
              class="h-[24px] l-dark"
              alt=""
            />
            <img src="assets/images/logo.png" class="h-[24px] l-light" alt="" />
          </span>
          <img
            src="assets/images/logo-white.png"
            class="h-[24px] hidden dark:inline-block"
            alt=""
          />
        </div>
      </a>
    </ng-container>
    <ng-template #elseTemplate>
      <a class="logo" routerLink="/">
        <div class="block sm:hidden">
          <img
            src="assets/images/logo-icon-40.png"
            class="h-10 inline-block dark:hidden"
            alt=""
          />
          <img
            src="assets/images/logo-icon-40-white.png"
            class="h-10 hidden dark:inline-block"
            alt=""
          />
        </div>
        <div class="sm:block hidden">
          <img
            src="assets/images/logo.png"
            class="h-[24px] inline-block dark:hidden"
            alt=""
          />
          <img
            src="assets/images/logo-white.png"
            class="h-[24px] hidden dark:inline-block"
            alt=""
          />
        </div>
      </a>
    </ng-template>

    <div class="menu-extras">
      <div class="menu-item">
        <a
          href="#"
          class="navbar-toggle"
          [ngClass]="showToggleMenu ? 'open' : ''"
          id="isToggle"
          (click)="toggleMenu()"
        >
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
      </div>
    </div>

    @if(showUserInfo === true){

    <ul class="buy-button list-none mb-0">
      <li
        class="dropdown inline-block relative ps-1"
        (clickOutside)="closeOutSideClick($event)"
      >
        <button
          class="dropdown-toggle items-center"
          type="button"
          (click)="userDropdow($event)"
        >
          <span
            class="btn btn-icon rounded-full bg-red-600 hover:bg-red-700 border-red-600 hover:border-red-700 text-white"
            >{{ userData.name.split(" ")[0][0]
            }}{{ userData.name.split(" ")[2][0] }}</span
          >
        </button>
      </li>
    </ul>
    } @if(showUserInfo === false) {
    <ul class="buy-button list-none mb-0">
      <li
        class="dropdown inline-block relative ps-1"
        (clickOutside)="closeOutSideClick($event)"
      >
        <button
          class="dropdown-toggle items-center"
          type="button"
          (click)="signOut()"
        >
          <span
            class="btn btn-icon rounded-full bg-red-500 hover:bg-red-700 border-red-500 hover:border-red-700 text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="36"
              height="36"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-log-out size-4"
              _ngcontent-ng-c3215848596=""
            >
              <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
              <polyline points="16 17 21 12 16 7"></polyline>
              <line x1="21" y1="12" x2="9" y2="12"></line></svg
          ></span>
        </button>
      </li>
    </ul>
    }
  </div>
</nav>
