<div class="relative grid md:grid-cols-3 grid-cols-1 items-center gap-[30px] z-1">
    <div class="counter-box text-center">
        <h1 class="lg:text-5xl text-4xl font-semibold mb-2 dark:text-white"><span class="counter-value" [countUp]="1548">1010</span>K+</h1>
        <h5 class="counter-head text-sm font-semibold text-slate-400 uppercase">Job Fulfillment</h5>
    </div><!--end counter box-->
    
    <div class="counter-box text-center">
        <h1 class="lg:text-5xl text-4xl font-semibold mb-2 dark:text-white"><span class="counter-value" [countUp]="25">2</span>+</h1>
        <h5 class="counter-head text-sm font-semibold text-slate-400 uppercase">Branches</h5>
    </div><!--end counter box-->
    
    <div class="counter-box text-center">
        <h1 class="lg:text-5xl text-4xl font-semibold mb-2 dark:text-white"><span class="counter-value" [countUp]="9">0</span>+</h1>
        <h5 class="counter-head text-sm font-semibold text-slate-400 uppercase">Years Experience</h5>
    </div><!--end counter box-->
</div>
