<section
  class="h-screen flex items-center justify-center relative overflow-hidden bg-[url('../../assets/images/hero/bg2.jpg')] bg-no-repeat bg-center bg-cover"
>
  <div
    class="absolute inset-0 bg-gradient-to-b from-transparent to-red-100"
  ></div>
  <div class="container">
    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1">
      <div
        class="relative overflow-hidden bg-white dark:bg-slate-900 shadow-md dark:shadow-gray-800 rounded-md"
      >
        <div class="p-6">
          <a href="">
            <img
              src="assets/images/logo.png"
              class="mx-auto h-[24px] block dark:hidden"
              alt=""
            />
            <img
              src="assets/images/logo.png"
              class="mx-auto h-[24px] dark:block hidden"
              alt=""
            />
          </a>
          <form class="text-start" [formGroup]="login" (ngSubmit)="onSubmit()">
            <div class="grid grid-cols-1 mt-8">
              <div class="mb-4 text-start">
                <label class="font-semibold" for="LoginEmail"
                  >Correo electrónico:</label
                >
                <input
                  id="LoginEmail"
                  type="nickname"
                  formControlName="nickname"
                  class="form-input mt-3 rounded-md"
                  placeholder="Tu correo electrónico"
                />
                @if (submitted() && f['nickname'].errors) {
                <div class="invalid-feedback">
                  @if (f['nickname'].errors['required']) {
                  <p
                    id="outlined_error_help"
                    class="mt-2 text-xs text-red-600 dark:text-red-400"
                  >
                    {{ errors().nickname.required }}
                  </p>

                  }
                </div>
                }
              </div>

              <div class="mb-4 text-start">
                <label class="font-semibold" for="LoginPassword"
                  >Contraseña:</label
                >
                <input
                  id="LoginPassword"
                  type="password"
                  formControlName="password"
                  class="form-input mt-3 rounded-md"
                  placeholder="Tu contraseña"
                />
                @if (submitted() && f['password'].errors) {
                <div class="invalid-feedback">
                  @if (f['password'].errors['required']) {
                  <p
                    id="outlined_error_help"
                    class="mt-2 text-xs text-red-600 dark:text-red-400"
                  >
                    {{ errors().password.required }}
                  </p>

                  }
                </div>
                }
              </div>

              <div class="my-4">
                <input
                  type="submit"
                  class="btn bg-red-600 hover:bg-red-700 border-red-600 hover:border-red-700 text-white rounded-md w-full"
                  value="Iniciar sesión"
                />

                @if (responseError()) {
                <p
                  id="outlined_error_help"
                  class="mt-2 text-xs text-red-600 dark:text-red-400"
                >
                  {{ "Usuario o contraseña incorrecto" }}
                </p>
                }
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
