<app-navbar [navLight] = 'true' [navClass] = "'justify-end nav-light'" [bgLight] = 'false' [navFull] = 'false' />

<section class="relative table w-full py-36 bg-[url('../../assets/images/hero/bg.jpg')] bg-top bg-no-repeat bg-cover">
    <div class="absolute inset-0 bg-emerald-900/90"></div>
    <div class="container">
        <div class="grid grid-cols-1 text-center mt-10">
            <h3 class="md:text-3xl text-2xl md:leading-snug tracking-wide leading-snug font-medium text-white">Job Vacancies</h3>
        </div><!--end grid-->
    </div><!--end container-->
</section><!--end section-->
<div class="relative">
    <div class="shape absolute start-0 end-0 sm:-bottom-px -bottom-[2px] overflow-hidden z-1 text-white dark:text-slate-900">
        <svg class="w-full h-auto" viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

<section class="relative -mt-[42px] md:pb-24 pb-16">
    <div class="container z-1">
        <div class="d-flex" id="reserve-form">
            <div class="md:w-5/6 mx-auto">
                <div class="lg:col-span-10">
                    <div class="bg-white dark:bg-slate-900 border-0 shadow rounded-md p-3">
                        <app-form/>
                    </div>
                </div><!--ed col-->
            </div>
        </div><!--end grid-->
    </div><!--end container-->

    <div class="container mt-10">
        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-[30px]">
            <div *ngFor="let item of jobData" class="group relative overflow-hidden rounded-md shadow dark:shadow-gray-800">
                <div class="p-6">
                    <a [routerLink]="['/job-detail-two', item.id]" class="title h5 text-lg font-semibold hover:text-emerald-600">{{item.jobTitle}}</a>
                    <p class="text-slate-400 mt-2"><i class="uil uil-clock text-emerald-600"></i> Posted 3 Days ago</p>

                    <div class="flex justify-between items-center mt-4">
                        <span class="bg-emerald-600/5 text-emerald-600 text-xs font-bold px-2.5 py-0.5 rounded h-5">{{item.jobType}}</span>

                        <p class="text-slate-400"><i class="uil uil-usd-circle text-emerald-600"></i> {{item.salary}}/mo</p>
                    </div>
                </div>

                <div class="flex items-center p-6 border-t border-gray-100 dark:border-gray-700">
                    <img [src]="item.image" class="size-12 shadow-md dark:shadow-gray-800 rounded-md p-2 bg-white dark:bg-slate-900" alt="">

                    <div class="ms-3">
                        <h6 class="mb-0 font-semibold text-base">{{item.companyName}} Ltd.</h6>
                        <span class="text-slate-400 text-sm">{{item.loction}}</span>
                    </div>
                </div>
            </div>
        </div><!--end grid-->

        <div class="grid md:grid-cols-12 grid-cols-1 mt-8">
            <div class="md:col-span-12 text-center">
                <nav aria-label="Page navigation example">
                    <ul class="inline-flex items-center -space-x-px">
                        <li>
                            <a href="#" (click)="$event.preventDefault()" class="size-[40px] inline-flex justify-center items-center text-slate-400 bg-white dark:bg-slate-900 rounded-s-3xl hover:text-white border border-gray-100 dark:border-gray-800 hover:border-emerald-600 dark:hover:border-emerald-600 hover:bg-emerald-600 dark:hover:bg-emerald-600">
                                <i class="uil uil-angle-left text-[20px] rtl:rotate-180 rtl:-mt-1"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" (click)="$event.preventDefault()" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-emerald-600 dark:hover:border-emerald-600 hover:bg-emerald-600 dark:hover:bg-emerald-600">1</a>
                        </li>
                        <li>
                            <a href="#" (click)="$event.preventDefault()" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-emerald-600 dark:hover:border-emerald-600 hover:bg-emerald-600 dark:hover:bg-emerald-600">2</a>
                        </li>
                        <li>
                            <a href="#" (click)="$event.preventDefault()" aria-current="page" class="z-10 size-[40px] inline-flex justify-center items-center text-white bg-emerald-600 border border-emerald-600">3</a>
                        </li>
                        <li>
                            <a href="#" (click)="$event.preventDefault()" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-emerald-600 dark:hover:border-emerald-600 hover:bg-emerald-600 dark:hover:bg-emerald-600">4</a>
                        </li>
                        <li>
                            <a href="#" (click)="$event.preventDefault()" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-emerald-600 dark:hover:border-emerald-600 hover:bg-emerald-600 dark:hover:bg-emerald-600">5</a>
                        </li>
                        <li>
                            <a href="#" (click)="$event.preventDefault()" class="size-[40px] inline-flex justify-center items-center text-slate-400 bg-white dark:bg-slate-900 rounded-e-3xl hover:text-white border border-gray-100 dark:border-gray-800 hover:border-emerald-600 dark:hover:border-emerald-600 hover:bg-emerald-600 dark:hover:bg-emerald-600">
                                <i class="uil uil-angle-right text-[20px] rtl:rotate-180 rtl:-mt-1"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div><!--end col-->
        </div><!--end grid-->
    </div><!--end container-->

    <div class="container md:mt-24 mt-16">
        <app-services/>
    </div><!--end container-->

    <div class="container-fluid md:mt-24 mt-16">
        <app-explore-job/>
    </div><!--end container-->
</section>

<app-footer/>