<app-navbar [navLight] = 'true' [navClass] = "'justify-end nav-light'" [bgLight] = 'false' [navFull] = 'false' />

<section class="py-36 lg:py-72 lg:pb-0 md:pb-8 w-full table relative bg-[url('../../assets/images/hero/bg3.jpg')] bg-center bg-cover" id="home">
    <div class="absolute inset-0 bg-slate-900/70"></div>
    <div class="container relative">
        <div class="grid lg:grid-cols-12 mt-10 md:grid-cols-2 gap-[30px]">
            <div class="lg:col-span-7 lg:me-6">
                <h4 class="text-white lg:leading-normal leading-normal text-4xl lg:text-5xl mb-5 font-bold">Find a new job and <br> build career</h4>
                <p class="text-white/70 text-lg max-w-xl">Find Jobs, Employment & Career Opportunities. Some of the companies we've helped recruit excellent applicants over the years.</p>
            
                <div class="grid grid-cols-1" id="reserve-form">
                    <div class="mt-8">
                        <div class="bg-white dark:bg-slate-900 border-0 shadow rounded p-3">
                            <form action="#">
                                <div class="registration-form text-dark text-start">
                                    <div class="grid md:grid-cols-12 grid-cols-1 md:gap-0 gap-6">
                                        <div class="lg:col-span-8 md:col-span-7">
                                            <div class="filter-search-form relative filter-border">
                                                <i class="uil uil-briefcase-alt icons"></i>
                                                <input name="name" type="text" id="job-keyword" class="form-input filter-input-box bg-gray-50 dark:bg-slate-800 border-0" placeholder="Search your Keywords">
                                            </div>
                                        </div>

                                        <div class="lg:col-span-4 md:col-span-5">
                                            <input type="submit" id="search" name="search" style="height: 60px;" class="btn bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white searchbtn submit-btn w-full" value="Search">
                                        </div>
                                    </div><!--end grid-->
                                </div><!--end container-->
                            </form>
                        </div>
                    </div><!--ed col-->
                </div><!--end grid-->

                <div class="mt-4">
                    <span class="text-white/70"><span class="text-white">Popular Searches :</span> Designer, Developer, Web, IOS, PHP Senior Engineer</span>
                </div>
            </div>

            <div class="lg:col-span-5 mt-8 md:mt-0">
                <div class="relative z-2">
                    <div class="p-3 shadow dark:shadow-gray-700 rounded-md bg-white dark:bg-slate-900">
                        <img src="assets/images/hero.jpg" class="shadow-md rounded-md" alt="">
                    </div>
                    <div class="absolute bottom-2/4 translate-y-2/4 start-0 end-0 text-center">
                        <a href="#!" (click)="togggleModal($event)" class="lightbox size-20 rounded-full shadow-md dark:shadow-gray-800 inline-flex items-center justify-center bg-white dark:bg-slate-900 text-emerald-600">
                            <i class="mdi mdi-play inline-flex items-center justify-center text-2xl"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end container-->
</section><!--end section-->
<div class="relative">
    <div class="shape overflow-hidden text-white dark:text-slate-900 rtl:-scale-x-[1]">
        <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

<section class="relative md:py-24 py-16">
    <div class="container">
        <app-counter/>
    </div><!--end container-->

    <div class="container md:mt-24 mt-16">
        <div class="grid grid-cols-1 pb-8 text-center">
            <h3 class="mb-4 md:text-[26px] md:leading-normal text-2xl leading-normal font-semibold">Popular Jobs</h3>

            <p class="text-slate-400 max-w-xl mx-auto">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
        </div><!--end grid-->

        <app-popular-job-two/>

        <div class="grid md:grid-cols-1 grid-cols-1 mt-8">
            <div class="md:col-span-12 text-center">
                <a routerLink="/job-grid-two" class="btn btn-link text-slate-400 hover:text-emerald-600 after:bg-emerald-600 duration-500 ease-in-out">See More Jobs <i class="uil uil-arrow-right align-middle"></i></a>
            </div>
        </div><!--end grid-->
    </div><!--end container-->

    <div class="container md:mt-24 mt-16">

        <app-browse-caregory/>

        <div class="grid md:grid-cols-12 grid-cols-1 md:hidden mt-8">
            <div class="md:col-span-12 text-center">
                <a href="#" (click)="$event.preventDefault()" class="btn btn-link text-slate-400 hover:text-emerald-600 after:bg-emerald-600 duration-500 ease-in-out">All Categories <i class="uil uil-arrow-right align-middle"></i></a>
            </div>
        </div><!--end grid-->
    </div><!--end container-->

    <div class="md:mt-24 mt-16">
        <app-best-companies-two/>
    </div><!--end container-->

    <div class="container md:mt-24 mt-16">
        <div class="grid grid-cols-1 pb-8 text-center">
            <h3 class="mb-4 md:text-[26px] md:leading-normal text-2xl leading-normal font-semibold">Latest Blog or News</h3>

            <p class="text-slate-400 max-w-xl mx-auto">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
        </div><!--end grid-->

        <app-blog/>
    </div><!--end container-->
</section>
<app-footer/>

<div class="fixed z-999 flex items-center justify-center bg-gray-900 bg-opacity-50 dark:bg-opacity-80 w-full h-full top-0 start-0" *ngIf="isOpen">
    <div class="modal-content relative">
      <span class="text-white absolute -top-6 -end-6 cursor-pointer" (click)="togggleModal($event)"><i class="mdi mdi-close inline-flex items-center justify-center text-2xl"></i></span>
      <iframe
        src="https://www.youtube.com/embed/S_CGed6E610"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
</div>
