<app-navbar [navLight] = 'false' [navClass] = "'justify-end '" [bgLight] = 'false' [navFull] = 'false' />

<section class="py-36 md:h-screen h-auto items-center flex relative overflow-hidden" id="home">
    <div class="container relative">
        <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
            <div class="lg:col-span-7 md:col-span-6 mt-14 md:mt-0">
                <div class="lg:me-8">
                    <h4 class="lg:leading-normal leading-normal text-4xl lg:text-5xl mb-5 font-bold">Find the <span class="before:block before:absolute before:-inset-2 before:-skew-y-6 before:bg-emerald-600 relative inline-block"><span class="relative text-white font-bold">Best Job</span></span> <br> offer for you.</h4>
            
                    <p class="text-slate-400 text-lg max-w-xl">Find Jobs, Employment & Career Opportunities. Some of the companies we've helped recruit excellent applicants over the years.</p>
            
                    <div class="bg-white dark:bg-slate-900 border-0 shadow rounded p-3 mt-4">
                        <form action="#">
                            <div class="registration-form text-dark text-start">
                                <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 lg:gap-0 gap-6">
                                    <div class="filter-search-form relative filter-border">
                                        <i class="uil uil-briefcase-alt icons"></i>
                                        <input name="name" type="text" id="job-keyword" class="form-input filter-input-box bg-gray-50 dark:bg-slate-800 border-0" placeholder="Search...">
                                    </div>

                                    <div class="filter-search-form relative filter-border bg-gray-50 h-[60px] dark:bg-slate-800 border-0 focus:ring-0 ps-10">
                                        <i class="uil uil-map-marker icons"></i>
                                        <select class="form-select bg-gray-50 h-[60px] dark:bg-slate-800 border-0 focus:ring-0 w-full" data-trigger name="choices-location" id="choices-location" aria-label="Default select example">
                                            <option value="BS">Bahamas</option>
                                            <option value="BH">Bahrain</option>
                                            <option value="CA">Canada</option>
                                            <option value="DK">Denmark</option>
                                            <option value="DJ">Djibouti</option>
                                            <option value="ER">Eritrea</option>
                                            <option value="EE">Estonia</option>
                                            <option value="GM">Gambia</option>
                                        </select>
                                    </div>

                                    <input type="submit" id="search" name="search" style="height: 60px;" class="btn bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white searchbtn submit-btn w-100" value="Search">
                                </div><!--end grid-->
                            </div><!--end container-->
                        </form>
                    </div>

                    <div class="mt-2">
                        <span class="text-slate-400"><span class="text-dark">Popular Searches :</span> Designer, Developer, Web, IOS, PHP Senior Engineer</span>
                    </div>
                </div>
            </div>

            <div class="lg:col-span-5 md:col-span-6">
                <div class="relative">
                    <div class="relative flex justify-end">
                        <img src="assets/images/about/ab01.jpg" class="lg:w-[400px] w-[280px] rounded-xl shadow dark:shadow-gray-700" alt="">
                        <div class="absolute lg:bottom-20 -bottom-24 xl:-end-20 lg:-end-10 end-2 p-4 rounded-lg shadow-md dark:shadow-gray-800 bg-white dark:bg-slate-900 w-60 z-2">
                            <h5 class="text-lg font-semibold mb-3">5k+ candidates get job</h5>
                            
                            <ul class="list-none relative">
                                <li class="inline-block relative"><a href="#" (click)="$event.preventDefault()"><img src="assets/images/team/01.jpg" class="size-10 rounded-full shadow-md dark:shadow-gray-700 border-4 border-white dark:border-slate-900 relative hover:z-1 hover:scale-105 transition-all duration-500" alt=""></a></li>
                                <li class="inline-block relative -ms-3"><a href="#" (click)="$event.preventDefault()"><img src="assets/images/team/02.jpg" class="size-10 rounded-full shadow-md dark:shadow-gray-700 border-4 border-white dark:border-slate-900 relative hover:z-1 hover:scale-105 transition-all duration-500" alt=""></a></li>
                                <li class="inline-block relative -ms-3"><a href="#" (click)="$event.preventDefault()"><img src="assets/images/team/03.jpg" class="size-10 rounded-full shadow-md dark:shadow-gray-700 border-4 border-white dark:border-slate-900 relative hover:z-1 hover:scale-105 transition-all duration-500" alt=""></a></li>
                                <li class="inline-block relative -ms-3"><a href="#" (click)="$event.preventDefault()"><img src="assets/images/team/04.jpg" class="size-10 rounded-full shadow-md dark:shadow-gray-700 border-4 border-white dark:border-slate-900 relative hover:z-1 hover:scale-105 transition-all duration-500" alt=""></a></li>
                                <li class="inline-block relative -ms-3"><a href="#" (click)="$event.preventDefault()"><img src="assets/images/team/05.jpg" class="size-10 rounded-full shadow-md dark:shadow-gray-700 border-4 border-white dark:border-slate-900 relative hover:z-1 hover:scale-105 transition-all duration-500" alt=""></a></li>
                                <li class="inline-block relative -ms-3"><a href="#" (click)="$event.preventDefault()" class="btn btn-icon table-cell rounded-full bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white hover:z-1 hover:scale-105"><i class="uil uil-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="absolute md:-start-5 start-0 -bottom-16">
                        <img src="assets/images/about/ab04.jpg" class="lg:w-[280px] w-[200px] border-8 border-white dark:border-slate-900 rounded-xl" alt="">

                        <div class="absolute flex justify-between items-center -top-6 md:-start-10 start-2 p-4 rounded-lg shadow-md dark:shadow-gray-800 bg-white dark:bg-slate-900 w-max">
                            <i class="uil uil-bell text-[24px] text-amber-500"></i>
                            <p class="text-lg font-semibold mb-0 ms-2">Job Alert Subscribe</p>
                        </div>
                    </div>

                    <div class="overflow-hidden absolute md:h-[500px] h-[400px] md:w-[500px] w-[400px] bg-gradient-to-tl to-emerald-600/5 via-emerald-600/50 from-emerald-600 bottom-1/2 translate-y-1/2 start-1/2 ltr:-translate-x-1/2 rtl:translate-x-1/2 -z-1 rounded-full"></div>
                </div>
            </div>
        </div>
    </div><!--end container-->
</section>

<!-- Start -->
<section class="relative md:pb-24 pb-16">
    <div class="container">
        <div class="grid grid-cols-1 pb-8 text-center">
            <h3 class="mb-4 md:text-[26px] md:leading-normal text-2xl leading-normal font-semibold">Popular Categories</h3>

            <p class="text-slate-400 max-w-xl mx-auto">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
        </div><!--end grid-->

        <app-popular-categories [rounded]="'rounded-full'"/>
    </div><!--end container-->

    <div class="container md:mt-24 md:pb-16 mt-16">
        <app-millions-of-job/>
    </div><!--end container-->

    <div class="container md:mt-24 mt-16">
        <div class="grid grid-cols-1 pb-8 text-center">
            <h3 class="mb-4 md:text-[26px] md:leading-normal text-2xl leading-normal font-semibold">Popular Jobs</h3>

            <p class="text-slate-400 max-w-xl mx-auto">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
        </div><!--end grid-->

        <app-popular-job-five/>

        <div class="grid md:grid-cols-12 grid-cols-1 mt-8">
            <div class="md:col-span-12 text-center">
                <a routerLink="/job-list-five" class="btn btn-link text-slate-400 hover:text-emerald-600 after:bg-emerald-600 duration-500 ease-in-out">See More Jobs <i class="uil uil-arrow-right align-middle"></i></a>
            </div>
        </div><!--end grid-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
 <app-cta/>

 <section class="relative md:py-24 py-16">
    <div class="container">
        <app-counter/>
    </div><!--end container-->

    <div class="md:mt-24 mt-16">
        <app-best-companies-two/>
    </div><!--end container-->

    <div class="container md:mt-24 mt-16">
        <div class="grid grid-cols-1 pb-8 text-center">
            <h3 class="mb-4 md:text-[26px] md:leading-normal text-2xl leading-normal font-semibold">Latest Blog or News</h3>

            <p class="text-slate-400 max-w-xl mx-auto">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
        </div><!--end grid-->

        <app-blog/>
    </div><!--end container-->
</section>

<app-footer/>